<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="nav-menu" align="">

    <table border="5">
        <tr> <h3>Меню :</h3>
            <td><a th:href="@{/account}">Аккаунт</a></td>
            <td><a th:href="@{/products/getAllHtml}">Ассортимент</a></td>
            <td><a th:href="@{/bucket}">Корзина</a></td>
            <td><a th:href="@{/account/logout}">Выйти из ЛК</a></td>
        </tr>
    </table>

</div>
</body>
</html>