<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мебель-клик</title>
</head>
<body>
<div th:insert="~{fragments/banner :: #nav-banner}"></div>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div>
    <table border="1" align="center">
        <h2>Общая информация о заказе:</h2>
        <tr>
            <td>Номер заказа</td>
            <td>Дата создания</td>
            <td>Сумма</td>
            <td>Отправка на e-mail</td>
            <td>Калькулятор объема</td>
        </tr>

        <tr>
            <td th:text="${invoice.id}"></td>
            <td th:text="${invoice.createdAt}"></td>
            <td th:text="${invoice.sum}"></td>
            <td>
                <a th:href="@{/invoices/get/{id}(article=${invoice.id})}">Получить счет на оплату</a>
            </td>
            <td>
                <a th:href="@{/invoices/get/{id}(article=${invoice.id})}">Рассчитать объем заказа</a>
            </td>
    </table>

    <table border="1" align="center">
        <h2>Детали заказа:</h2>
        <tr>
            <td>Артикул</td>
            <td>Наименование</td>
            <td>Вариант исполнения</td>
            <td>Тип</td>
            <td>Количество, шт</td>
            <td>Цена, руб/шт</td>
            <td>Действие</td>

        </tr>

        <tr th:each="detail : ${invoice.invoiceDetails}">
            <td th:text="${detail.product.article}"></td>
            <td th:text="${detail.product.name}"></td>
            <td th:text="${detail.product.version}"></td>
            <td th:text="${detail.product.type}"></td>
            <td th:text="${detail.amount}"></td>
            <td th:text="${detail.price}"></td>
            <td>
                <a th:href="@{/products/getHtml/{art}(art=${detail.product.article})}">Подробнее о товаре</a>
                <p th:if="${param.invoice_problem}" style="color: brown">
                    Заказ не найден БД, обратитесь к администратору ресурса.</p>
            </td>
    </table>

</div>

</body>
</html>