<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мебель-клик</title>
</head>
<body>
<div th:insert="~{fragments/banner :: #nav-banner}"></div>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div th:if="${products != null and !products.isEmpty()}">


    <table border="1" align="center">
        <tr>
            <td>Артикул</td>
            <td>Наименование</td>
            <td>Вариант исполнения</td>
            <td>Тип</td>
            <td>Ширина, м</td>
            <td>Длина, м</td>
            <td>Высота, м</td>
            <td>Вес, кг</td>
            <td>Цена, руб</td>
            <td>Изображение</td>
            <td>Действие</td>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.article}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.version}"></td>
            <td th:text="${product.type}"></td>
            <td th:text="${product.width}"></td>
            <td th:text="${product.length}"></td>
            <td th:text="${product.height}"></td>
            <td th:text="${product.weight}"></td>
            <td th:text="${product.cost}"></td>
            <td>
                <img th:src="@{/images/{path}(path=${product.imagePatch})}" alt="Изображение продукта" width="200" height="170">
            </td>
            <td><a th:href="@{/products/bucket/{article}(article=${product.article})}">Добавить в корзину</a>

<!--                <button  th:attr="data-product-article=${product.article}" name="Добавить в заказ" type="button">-->
<!--                    Добавить в заказ-->
<!--                </button>-->
<!--                <button th:attr="data-product-article=${product.article}" style="display: none"-->
<!--                        name="Удалить из заказа" type="button">-->
<!--                    Удалить из заказа-->
<!--                </button>-->
            </td>
        </tr>
    </table>


</div>

<div th:if="${products == null or products.isEmpty()}">
        <h2>Страница в разработке, товары пока не добавлены продавцом</h2>
</div>
<!--<script th:src="@{/js/add-to-order.js}"></script>-->

</body>
</html>

<!--<div th:if="${products !=null and !products.isEmpty()}">-->
<!--    &lt;!&ndash;    далее описываем цикл&ndash;&gt;-->
<!--    <div th:each="product : ${products}">-->
<!--        <h2 th:text="${product.article}"></h2>-->
<!--        <h3 th:text="${product.name}"></h3>-->
<!--        <h3 th:text="${product.cost}"></h3>-->
<!--    </div>-->
<!--</div>-->
<!--<div th:if="${products == null or products.isEmpty()}">-->
<!--    <h2>Товары пока не добавлены продавцом</h2>-->
<!--</div>-->

