<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PМебель-клик</title>
</head>
<body>
<div th:insert="~{fragments/banner :: #nav-banner}"></div>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>


<div>
    <h2>Информация о товаре:</h2>
</div>
<div>
    <table border="4" align="left">
        <tr>
            <td>Артикул</td>
            <td>Наименование</td>
            <td>Вариант исполнения</td>
            <td>Тип</td>
            <td>Ширина, м</td>
            <td>Длина, м</td>
            <td>Высота, м</td>
            <td>Вес, кг</td>
            <td>Цена, руб</td>
            <td>Изображение</td>
            <td sec:authorize="hasRole('BUYER')">Работа с корзиной</td>
        </tr>
        <tr>
            <td th:text="${productInfo.article}"></td>
            <td th:text="${productInfo.name}"></td>
            <td th:text="${productInfo.version}"></td>
            <td th:text="${productInfo.type}"></td>
            <td th:text="${productInfo.width}"></td>
            <td th:text="${productInfo.length}"></td>
            <td th:text="${productInfo.height}"></td>
            <td th:text="${productInfo.weight}"></td>
            <td th:text="${productInfo.cost}"></td>
            <td>
                <img th:src="@{/images/{path}(path=${productInfo.imagePatch})}" alt="Изображение продукта" width="200" height="170">
            </td>
            <td sec:authorize="hasRole('BUYER')">
                <button  th:attr="data-product-article=${productInfo.article}" name="Добавить в заказ" type="button">
                    Добавить в корзину
                </button>
                <button th:attr="data-product-article=${productInfo.article}" style="display: none"
                        name="Удалить из заказа" type="button">
                    Удалить из корзины
                </button>
            </td>
        </tr>
    </table>
    <div>
    </div>
    <script th:src="@{/js/add-to-order.js}"></script>
</body>
<button onclick="window.history.back()">Назад</button>

</html>