<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мебель-клик</title>
</head>
<body>
<div th:insert="~{fragments/banner :: #nav-banner}"></div>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<p th:if="${param.prod_exists}" style="color: brown">Ошибка при удалении товара, товар не существует.</p>

<div th:if="${products != null and !products.isEmpty()}">
    <!--    <button name="addOrderToBucket" type="button"> &lt;!&ndash;style="display: none; float: right"&ndash;&gt;-->
<!--        Добавить выбранные товары в корзину-->
<!--    </button>-->
    <table border="1" align="center">
        <h2>Актуальный ассортимент товаров:</h2>
        <tr>
            <td>Артикул</td>
            <td>Наименование</td>
            <td>Вариант исполнения</td>
            <td>Тип</td>
            <td>Ширина, м</td>
            <td>Длина, м</td>
            <td>Высота, м</td>
            <td>Вес, кг</td>
            <td>Цена, руб</td>
            <td>Изображение</td>
            <td sec:authorize="hasRole('BUYER')">Работа с корзиной</td>
            <td sec:authorize="hasRole('ADMIN')">Удаление товара</td>
            <td>Подробнее</td>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.article}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.version}"></td>
            <td th:text="${product.type}"></td>
            <td th:text="${product.width}"></td>
            <td th:text="${product.length}"></td>
            <td th:text="${product.height}"></td>
            <td th:text="${product.weight}"></td>
            <td th:text="${product.cost}"></td>
            <td>
                <img th:src="@{/images/{path}(path=${product.imagePatch})}" alt="Изображение продукта" width="200" height="170">
            </td>
            <td sec:authorize="hasRole('BUYER')">
                <button  th:attr="data-product-article=${product.article}" name="Добавить в заказ" type="button">
                    Добавить в корзину
                </button>
                <button th:attr="data-product-article=${product.article}" style="display: none"
                        name="Удалить из заказа" type="button">
                    Удалить из козины
                </button>
            </td>
            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/products/del/{article}(article=${product.article})}">Удалить товар</a>
            </td>
            <td>
                <a th:href="@{/products/getHtml/{art}(art=${product.article})}">Подробнее о товаре</a>
            </td>
        </tr>
    </table>
</div>
<button name="addOrderToBucket" type="button"> <!--style="display: none; float: right"-->
    Добавить выбранные товары в корзину
</button>
<a name="addOrderToBucket" type="button"> <!--style="display: none; float: right"-->
    Добавить выбранные товары в корзину
    <button onclick="location='/bucket'">Корзина</button>


<div th:if="${products == null or products.isEmpty()}">
        <h2>Страница в разработке, товары пока не добавлены продавцом</h2>
</div>
<button onclick="window.history.back()">Назад</button>

<!--<script th:src="@{/js/make-order.js}"></script>-->
<script th:src="@{/js/add-to-order.js}"></script>
</body>
</html>

<!--<div th:if="${products !=null and !products.isEmpty()}">-->
<!--    &lt;!&ndash;    далее описываем цикл&ndash;&gt;-->
<!--    <div th:each="product : ${products}">-->
<!--        <h2 th:text="${product.article}"></h2>-->
<!--        <h3 th:text="${product.name}"></h3>-->
<!--        <h3 th:text="${product.cost}"></h3>-->
<!--    </div>-->
<!--</div>-->
<!--<div th:if="${products == null or products.isEmpty()}">-->
<!--    <h2>Товары пока не добавлены продавцом</h2>-->
<!--</div>-->

